@import "../../../styles/variables.module";

.divider {
  --icon-size: 32px;
  --gap: 8px;

  display: flex;
  align-items: center;
  column-gap: var(--gap);

  &_line {
    width: calc(50% - (var(--icon-size) - var(--gap)) / 2);
    height: 1px;
    background-color: $color_white_d40;
  }

  &_icon {
    width: var(--icon-size);
    height: var(--icon-size);
    background-color: $color_black_l40;
  }
}