@import "../../styles/variables.module";

.section {
  padding: 48px 0;
  background-color: $color_white_d20;

  &_body {
  }

  &_cards {
    margin: 64px 0 0 0;
    display: grid;
    --columns: 3;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 64px;

    &_item {
      width: 100% !important;
    }
  }
  
  @media (max-width: 648px) {
    &_cards {
      --columns: 2;
    }
  }

  @media (max-width: 424px) {
    &_cards {
      --columns: 1;
    }
  }
}