@import "../../../styles/variables.module";

.divider {
  width: 100%;
  height: 84px;
  mask-image: url("./src/divider-top.svg");
  mask-size: cover;
  mask-position: center top;
  mask-repeat: no-repeat;
  background-color: $color_white_d20;

  &.bottom {
    mask-image: url("./src/divider-bottom.svg");
    mask-position: center bottom;
  }
}