@import "../../../styles/variables.module";

.card {
  display: flex;
  align-items: center;
  --column-gap: 32px;
  --icon-size: 60px;

  column-gap: var(--column-gap);

  &_icon {
    width: var(--icon-size);
    height: var(--icon-size);
    background-color: $color_primary_main;
  }

  &_content {
    width: calc(100% - var(--icon-size));

    &_title {
      color: $color_black_main;
    }

    &_paragraph {
      color: $color_black_l20;
      margin: 32px 0 0 0;
    }
  }

  @media (max-width: 456px) {
    --column-gap: 24px;
    --icon-size: 52px;
  }
}