$container_width: 1072;
$container_padding: 32;

.container {
  width: 100%;
  max-width: $container_width + $container_padding * 2 + px;
  padding: 0 32px;
  margin: 0 auto;
}

:export {
  container_width: $container_width;
}

