.tab {
  overflow-x: auto;
  overflow-y: hidden;

  &::-webkit-scrollbar {
    height: 0;
  }

  &_container {
    min-width: 100%;
    width: max-content;
    display: flex;
    column-gap: 32px;
    justify-content: space-between;
  }

  &_item {
    width: 120px;
    display: flex;
    justify-content: center;

    .item {
      width: 100%;
    }
  }
  
  @media (max-width: 560px) {
    &_item {
      width: 84px;
    }
  }
}