@import "variables.module";

@font-face {
  font-family: "amalfi-regular";
  font-weight: 400;
  src: url("./fonts/Amalfi-Regular.otf") format("opentype");
}

@font-face {
  font-family: "circe-rounded-regular";
  font-weight: 400;
  src: url("./fonts/CirceRounded-Regular.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  //outline: 1px solid rebeccapurple;
  font-family: "circe-rounded-regular", sans-serif;
}

ul, li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  color: $color_black_main;
  background-color: $color_white_main;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "amalfi-regular", sans-serif;
  font-weight: 400;
  line-height: 0.62em;
}

h1 {
  font-size: 132px;
}

.h1-skeleton {
  height: 80px;
}

h2 {
  font-size: 96px;
}

.h2-skeleton {
  height: 60px;
}

h4 {
  font-size: 64px;
}

.h4-skeleton {
  height: 40px;
}

p {
  font-size: 18px;
}

.p-skeleton {
  height: 22px;
}

p.small {
  font-size: 16px;
}

.p-small-skeleton {
  height: 18px;
}

@media (max-width: 560px) {
  h1 {
    font-size: 96px;
  }

  .h1-skeleton {
    height: 60px;
  }

  h2 {
    font-size: 74px;
  }

  .h2-skeleton {
    height: 44px;
  }
}

@media (max-width: 486px) {
  h4 {
    font-size: 56px;
  }

  .h4-skeleton {
    height: 34px;
  }
}

@media (max-width: 380px) {
  h1 {
    font-size: 82px;
  }

  .h1-skeleton {
    height: 50px;
  }

  h4 {
    font-size: 48px;
  }

  .h4-skeleton {
    height: 30px;
  }
}