@import "variables.module";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

ul, li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  color: $color_black_main;
  background-color: $color_white_main;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 0.62em;
}

h1 {
  font-size: 132px;
}

h2 {
  font-size: 96px;
}

h4 {
  font-size: 64px;
}

p {
  font-size: 18px;
}

p.small {
  font-size: 16px;
}

@media (max-width: 560px) {
  h1 {
    font-size: 96px;
  }
}

@media (max-width: 380px) {
  h1 {
    font-size: 82px;
  }
}