@import "../../../styles/variables.module";

.burger {
  --burger-size: 42px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: var(--burger-size);
  height: var(--burger-size);

  &_line {
    width: calc(var(--burger-size) * 0.8);
    height: calc(var(--burger-size) * 0.085);
    border-radius: 100vh;
    background-color: $color_black_main;

    &:nth-child(2) {
      margin: calc(var(--burger-size) * 0.15) 0;
    }

    &:last-child {
      width: calc(var(--burger-size) * 0.6);
    }
  }
}