@import "../../styles/variables.module";

.section {
  padding: 48px 0;
  background-color: $color_white_d20;

  &_body {
  }

  &_title {
    text-align: center;
    margin: 0 0 96px 0;
  }

  &_container {
    display: flex;
    align-items: center;
    --gap-items: 32px;
    column-gap: var(--gap-items);

    &:not(:last-child) {
      margin: 0 0 48px 0;
    }

    &_content {
      width: calc(45% - var(--gap-items) / 2);

      &_card:not(:last-child) {
        margin: 0 0 36px 0;
      }
    }

    &_img {
      width: calc(55% - var(--gap-items) / 2);

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  @media (max-width: 956px) {
    &_container {
      flex-direction: column;
      row-gap: 48px;

      &_content, &_img {
        max-width: 560px;
        width: 100%;
      }

      &_img {
        order: 2;
      }
    }
  }
  
  @media (max-width: 560px) {
    &_title {
      margin: 0 0 56px 0;
    }
  }
}