@import "../../styles/variables.module";

.products {
  background-color: $color_white_d20;
  padding: 48px 0;

  &_body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &_title {
    width: 100%;
    text-align: center;
  }

  &_container {
    width: 100%;
    display: flex;
    column-gap: 32px;
    row-gap: 56px;
    justify-content: center;
    --gap-item: 32px;
    --items: 3;
    margin: 64px 0;
    flex-wrap: wrap;

    @media (max-width: 856px) {
      --items: 2;
    }

    @media (max-width: 560px) {
      --items: 1;
    }
  }

  &_card {
    width: calc(100% / var(--items) - var(--gap-item) * (var(--items) - 1) / var(--items));
  }

  &_btn {
    text-align: center;
  }
}