@import "../../styles/variables.module";

.contact {
  padding: 48px 0 96px 0;

  &_body {
    display: flex;
    align-items: center;
    column-gap: 32px;
  }

  &_content {
    width: 40%;

    &_title {
      margin: 0 0 48px 0;
    }

    &_item {
      &_title {
        margin: 0 0 24px 0;
      }

      &_subtitle {
        color: $color_black_l20;
      }

      &:not(:last-child) {
        margin: 0 0 32px 0;
      }
    }
  }

  &_map {
    width: 60%;
  }
}