@import "../../styles/variables.module";

.section {
  padding: 48px 0;

  &_body {
  }

  &_title {
    text-align: center;
    margin: 0 0 64px 0;
  }

  &_container {
    display: flex;
    align-items: center;
    column-gap: 32px;
  }

  &_content {
    width: 52.5%;

    &_title {
      margin: 0 0 36px 0;
      color: $color_black_main;
    }

    &_paragraph {
      color: $color_black_l20;
      margin: 0 0 36px 0;
    }

    &_cards {
      display: flex;
      column-gap: 32px;
    }

    &_divider {
      margin: 32px 0 36px 0;
    }
  }

  &_img {
    width: 47.5%;

    img {
      width: 100%;
    }
  }
  
  @media (max-width: 856px) {
    &_content {
      width: 100%;
      text-align: center;
    }

    &_img {
      display: none;
    }
  }
}