@import "../../styles/variables.module";

$nav_height: 128;

.nav {
  width: 100%;
  height: $nav_height + px;
  display: flex;
  align-items: center;

  &_body {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_logo {
    width: 122px;
  }

  &_menu {
    display: flex;
    align-items: center;

    &_item:not(:last-child) {
      --item-gap: 48px;
      margin: 0 var(--item-gap) 0 0;
    }

    &_link {
    }
  }

  &_contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &_top {
      font-weight: 400;
      font-size: 14px;
      color: $color_black_main;
      margin: 0 0 4px 0;
    }
    &_bottom {
      display: flex;
      align-items: center;
      justify-content: center;

      font-weight: 400;
      font-size: 14px;
      color: $color_black_main;

      .icon {
        width: 18px;
        height: 18px;
        background-color: $color_black_main;
        margin: 0 8px 0 0;
      }
    }
  }
}

:export {
  nav_height: $nav_height;
}