@import "../../styles/variables.module";

.section {
  padding: 64px 0;
  background-color: #282828;
  color: $color_white_main;

  &_body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 32px;
  }

  &_item {
    &_title {
      font-family: var(--font-amalfi-regular), sans-serif;
      font-weight: 400;
      font-size: 48px;
      line-height: 36px;
      color: $color_white_main;
      margin: 0 0 24px 0;
    }

    &_paragraph {
      color: $color_white_d60;
    }

    &_icons {
      display: flex;
      align-items: center;

      .icon {
        width: 32px;
        height: 32px;
        background-color: $color_primary_main;

        &:not(:last-child) {
          margin: 0 16px 0 0;
        }
      }
    }
  }
}