@import "../../../styles/variables.module";

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 80%;
  padding: 64px 0;
  overflow: auto;
  max-width: 380px;
  height: 100%;
  background-color: $color_white_main;
  margin: 0 0 0 auto;
  border-radius: 24px 0 0 24px;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;

  &_outside {
    position: fixed;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(40, 40, 40, 0.35);
  }

  &_menu {
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 48px;

    &_item {
    }
  }

  &_close {
    cursor: pointer;
    position: absolute;
    top: 36px;
    right: 48px;
    width: 36px !important;
    height: 36px !important;
  }
}