@import "../../../../styles/variables.module";

.item {
  width: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  cursor: pointer;

  &_img {
    width: 100%;
    padding-top: 100%;
    position: relative;

    .icon {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $color_black_main;
    }
  }

  &_title {
    font-family: var(--font-amalfi-regular), sans-serif;
    font-size: 48px;
    line-height: 36px;
    margin: 24px 0;
    font-weight: 400;
    color: $color_black_main;
  }

  &:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: $color_primary_main;
    width: 0;
    transition: width ease $transition_time + s;
  }

  &.active:after {
    width: 100%;
  }
}